:root {
	--yellow-lightest: #FFECB5;
	--yellow-light: #FED86E;
	--yellow: #FFB100;
	--yellow-dark: #C66F00;
	--yellow-darker: #854B00;
	--yellow-darkest: #291700;
	
	--orange-lightest: #FFE2D4;
	--orange-light: #FFA37C;
	--orange: #FF5F00;
	--orange-dark: #E7390B;
	--orange-darker: #852207;
	--orange-darkest: #300C02;
	
	--red-lightest: #FFD7E4;
	--red-light: #FF92B1;
	--red: #FF0057;
	--red-dark: #C80039;
	--red-darker: #6B001E;
	--red-darkest: #30000E;
	
	--pink-lightest: #FFD5F3;
	--pink-light: #FF90E0;
	--pink: #FF00C1;
	--pink-dark: #C70080;
	--pink-darker: #850063;
	--pink-darkest: #330026;
	
	--purple-lightest: #F0DEFD;
	--purple-light: #D9A7FF;
	--purple: #A101F9;
	--purple-dark: #7C00AF;
	--purple-darker: #4C0075;
	--purple-darkest: #240038;
	
	--blue-lightest: #CFDDFF;
	--blue-light: #99C4FE;
	--blue: #2879F4;
	--blue-dark: #284CAC;
	--blue-darker: #154285;
	--blue-darkest: #0A1E3D;
	
	--cyan-lightest: #C8F1FF;
	--cyan-light: #5CD2F7;
	--cyan: #00BAFE;
	--cyan-dark: #007598;
	--cyan-darker: #00526B;
	--cyan-darkest: #00232E;
	
	--teal-lightest:  #B0FAEA;
	--teal-light:  #39E3C7;
	--teal: #00DCD6;
	--teal-dark: #008680;
	--teal-darker: #00615E;
	--teal-darkest: #001F1E;
	
	--green-lightest:  #C5FBC8;
	--green-light:  #6EE88B;
	--green: #00D545;
	--green-dark: #00852B;
	--green-darker: #00611F;
	--green-darkest: #00240B;
	
	--black: #111111;
	--grey-dark: #444444;
	--grey: #666666;
	--grey-light: #cccccc;
	--grey-lightest: #eeeeee;
	--white: #fafafa;

}
